*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 2.5%;
    font-size: 2.8rem;
    text-align: center;
    align-self: auto;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(192, 185, 185);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

.element{
    background-color: white;
    border: 0.1px solid gray;
    cursor: pointer;
}

.element:hover{
    background-color: black;
}

.clicked{
    background-color: black;
}

.eraser{
    background-color: white;
}

.color-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.color-picker{
    position: relative;
}

.color-indicator{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 20px;
    margin: 16px;
    vertical-align: middle;
    align-self:flex-start;
}

#color-picker{
    display: inline-block;
    vertical-align: middle;
    
}

.button-active{
    background-color: yellow;
}

#canvas{
    width: 500px;
    height: 500px;
    background-color: rgb(229, 219, 219);

    display: grid;
    border: 1px rgb(255, 255, 255) solid;
}

#clear-button, #eraser-button, #change-size-button, #rainbow-button{
    margin: 10px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 1%;
    box-shadow:  
    0 0 6px 3px #fff,  /* inner white */
    0 0 6px 3px rgb(251, 255, 0) /* middle magenta */

}